# Entorno virtual
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración locales
.env
.DS_Store

# Archivos de IDEs
.vscode/
.idea/

# Archivos de compilación
build/
dist/
*.egg-info/
